$font-family-body: 'Atlas Grotesk', sans-serif;
$font-family-wordmark: 'Oswald', sans-serif;
$font-size: 16px;

$mobile-font-size: 33px;
$mobile-line-height: 42px;

$color-bkg-public: #0A0A0A;
$color-spc-gold: #A58242;
$color-link: #A58242;
$color-text: #eee;
$color-bkg-nav-selected: rgb(92,91,92);
$color-text-nav-selected: #252525;

